//
// overrides.scss
// Dark mode overrides
//

//
// Table of contents
//
// 1. Buttons
// 2. Dropzone
// 3. Quill
//


// Buttons

.card {
  .list-group-item {
    color: $gray-400;
  }
}

.blur-background {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(122deg,#86325591,#229c7a4d);
    filter: blur(80px);
    -webkit-filter: blur(80px);
    opacity: 0.85;
  }
}