//
// overrides.scss
// Dark mode overrides
//

//
// Table of contents
//
// 1. Buttons
// 2. Dropzone
// 3. Quill
//


// Buttons
.btn-light {
  @include button-variant($gray-800-dark, $gray-600-dark);

  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle {
    background-color: $black-dark;
    border-color: $gray-700-dark;
    color: $white;
  }
}

.btn-light {
  border-color: $gray-300;
  background-color: transparent;
  color: $gray-300;

  &:hover {
    background: $gray-300;
    color: #0a101e;
  }
}

p {
  line-height: 26px;
}

.card {
  .list-group-item {
    color: $gray-400;
  }
}

.light-border {
  border-color: $gray-300-dark!important;
}
