//
// overrides.scss
// Dark mode overrides
//

//
// Table of contents
//
// 1. Buttons
// 2. Dropzone
// 3. Quill
//


// Buttons

header {
  background: $gray-500-dark;
}

.btn-light {
  border-color: $gray-300;
  background-color: transparent;
  color: $gray-300;

  &:hover {
    background: $gray-300;
    color: #0a101e;
  }
}


.card {
  .list-group-item {
    color: $gray-400;
  }
}

.blur-background {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $pacer-gradient;
    filter: blur(110px);
    opacity: 0.15;
    z-index: -1;
  }
}
