//
// variables-dark.scss
// Dashkit dark version
//

//
// Bootstrap Overrides ===================================
//


// Color system

$white: #FFFFFF !default;
$gray-100: darken($white, 5%) !default;
$gray-200: darken($white, 10%) !default;
$gray-300: darken($white, 30%) !default;
$gray-400: darken($white, 35%) !default;
$gray-500: darken($white, 40%) !default;
$gray-600: darken($white, 50%) !default;
$gray-700: darken($white, 55%) !default;
$gray-800: darken($white, 60%) !default;
$gray-900: darken($white, 70%) !default;
$black: #0B1120;

// #1B2E44
$gray-500-dark: #192434;
$gray-600-dark: #213752;
$gray-700-dark: #264160;
$gray-800-dark: #1B2236;
$gray-900-dark: #16212E;
$black-dark: $black;

$blue: #2C7BE5 !default;
$indigo: #727cf5 !default;
$purple: #6b5eae !default;
$pink: #ff679b !default;
$red: #E63757 !default;
$orange: #fd7e14 !default;
$yellow: #F6C343 !default;
$green: #00D97E !default;
$teal: #02a8b5 !default;
$cyan: #20d2f4 !default;
$lightgreen: #c1ff93;
$lightblue: #6ef2ff;

$primary: $gray-600-dark;
$secondary: $white;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$lighter: $gray-100;
$dark: $black !default;

$pacer-gradient: linear-gradient(to left, #3C01E3, #6808C0, #8D0EA2);
// Body
//
// Settings for the `<body>` element.

$body-bg: #0B1120;
$body-color: $white !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;


$transition-base:             all .1s ease-in-out;
$transition-fade:             opacity .1s linear;
// scss-docs-start collapse-transition
$transition-collapse:         height .35s ease !default;
// scss-docs-end collapse-transition

// Links
//
// Style anchor elements.

$link-color:                              $white !default;
$link-decoration:                         underline !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;

$stretched-link-pseudo-element:           after !default;
$stretched-link-z-index:                  1 !default;

// Cards

$card-border-width: 1px !default;
$card-border-color: transparent !default;
$card-bg: $gray-500-dark!default;


// Components
//
// Define common padding and border radius sizes and more.
$border-width: 2px;
$border-color: #1B2236;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$text-muted: $gray-400 !default;
$font-weight-light: 400 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;



// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-border-factor: 0 !default;
$table-border-color: none !default;

$table-striped-bg: $gray-900-dark !default;
$table-active-bg: $gray-900-dark !default;
$table-hover-bg: $gray-900-dark !default;

$table-bg-scale: 0 !default;


// Forms

$input-bg: $black;
$input-disabled-bg: darken($black, 25%);

$input-color: $white;
$input-border-color: $gray-400 !default;
$input-border-width: 2px;
$input-font-weight: $font-weight-bold;

$input-border-color: $gray-700-dark !default;

$input-placeholder-color: $gray-600 !default;

$form-label-color: $text-muted;
$form-check-input-bg: $gray-600-dark !default;

$form-switch-color: $gray-800-dark !default;
$form-switch-checked-color: $white !default;


// Navbar

$navbar-dark-color: $gray-700 !default;
$navbar-dark-hover-color: $black !default;
$navbar-dark-active-color: $black !default;
$navbar-dark-toggler-border-color: transparent !default;

$navbar-light-hover-color: $white !default;
$navbar-light-active-color: $white !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg: $gray-800-dark !default;
$dropdown-border-color: $black !default;
$dropdown-divider-bg: $black !default;

$dropdown-link-color: $text-muted !default;
$dropdown-link-hover-color: $white !default;


// Pagination

$pagination-color: $white !default;
$pagination-bg: $gray-800-dark !default;
$pagination-border-color: $gray-600-dark !default;

$pagination-hover-color: $white !default;
$pagination-hover-bg: $gray-900-dark !default;
$pagination-hover-border-color: $gray-700-dark !default;

$pagination-disabled-bg: $gray-900-dark !default;
$pagination-disabled-border-color: $gray-700-dark !default;


// Tooltips

$tooltip-bg: $gray-800-dark !default;
$tooltip-color: $white !default;


// Popovers

$popover-bg: $gray-800-dark !default;
$popover-border-color: $black !default;


// Toasts

$toast-background-color: $gray-800-dark !default;


// Modals

$modal-content-bg: $black-dark !default;
$modal-content-border-color: $gray-600-dark;
$modal-header-border-width: 0;


// Progress bars

$progress-bg: $gray-600-dark !default;


// List groups

$list-group-border-color: $border-color !default;

$list-group-hover-bg: $gray-900-dark !default;

$list-group-hover-bg: $gray-900-dark !default;

$list-group-action-active-bg: $gray-900-dark;



//
// Theme =====================================
//


// Charts

/* beautify ignore:start */
$chart-colors: (
  "gray-300": $gray-300,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,
  "primary-100": "#D2DDEC",
  "primary-300": "#A6C5F7",
  "default-color": $gray-700,
  "default-font-color": $gray-700,
  "arc-border-color": $gray-800-dark,
  "arc-hover-border-color": $gray-800-dark,
  "grid-line-color": $gray-900,
  "grid-line-zero-line-color": $gray-900
) !default;
/* beautify ignore:end */


// Tables

$table-head-bg: $black-dark !default;


// Navbar

$navbar-dark-bg: $white !default;
$navbar-dark-border-color: $white !default;
$navbar-dark-heading-color: $text-muted !default;
$navbar-dark-divider-color: $gray-300 !default;
$navbar-dark-brand-filter: none;

$navbar-dark-input-bg: $input-bg !default;
$navbar-dark-input-border-color: $input-border-color !default;

$navbar-light-bg: $gray-800-dark !default;
$navbar-light-border-color: $gray-800-dark !default;

$navbar-light-input-bg: $gray-700-dark !default;
$navbar-light-input-border-color: $black-dark !default;


// Cards

$card-outline-color: $gray-600-dark;
$card-box-shadow: 0 .75rem 1.5rem transparentize($black-dark, .5) !default;


// Auth

$auth-bg: $body-bg !default;


// Avatar

$avatar-title-bg: $gray-600-dark !default;


// Backgrounds

$bg-soft-scale: 55% !default;


// Comment

$comment-body-bg: $gray-700-dark;


// Header

$header-body-border-color-dark: $border-color !default;
