a {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cursor-pointer {
  cursor: pointer;
}

main {
  position: relative;
  z-index: 2;
}

#__next {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.apexcharts-tooltip {
  color: $gray-600-dark;
}

a {
  text-decoration: none;
}
