a {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=text],
input[type=number]{
  &.no-focus {
    &:focus {
      outline: none;
    }
  }
}


.cursor-pointer {
  cursor: pointer;
}

main {
  position: relative;
  z-index: 2;
}

#__next {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:focus, button:focus {
  outline: none !important;
  box-shadow: none!important;
}

.PCR-Tab {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 51px;
  padding: 0 40px 0 40px;
  cursor: pointer;
  background: #0B1120;
  border: 1px solid #213752;
  border-bottom: none;
  margin-right: 1px;
  top: 4px;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 13px;
  align-items: center;
  display: flex;
  color: #4a658c;
  &:hover {
    color: #FFF;
  }

  &--isActive {
    z-index: 2;
    color: #FFF;
    background: #192434;
    &:before {
      content: "";
      background: #192434;
      height: 4px;
      position: absolute;
      z-index: 3;
      bottom: -1px;
      left: -1px;
      width: 103%;
    }
    &:first-child:before {
      left: 0;
    }
  }
}

.vertical-line {
  border-right: 1px solid #244166;
  margin: 0 30px;
}


.horizontal-line {
  border-top: 1px solid #244166;
  margin: 30px 0 40px;
  position: relative;
  div {
    background: #192434;
    position: absolute;
    top: -12px;
    left: 45%;
    width: 30px;
    height: 25px;
    span {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      color: #a6a6a6;
      box-sizing: border-box;
      width: 0;
      height: 0;
      border-width: 3px;
      border-style: solid;
      border-bottom-color: transparent;
      border-left-color: transparent;
      margin: 10px;
      transform: rotate(135deg);
      left: 4px;
      top: 2px;
      &:after, &:before {
        content: "";
        box-sizing: border-box;
      }
      &:before {
        right: -2px;
        top: -3px;
        position: absolute;
        height: 2px;
        box-shadow: inset 0 0 0 32px;
        transform: rotate(-45deg);
        width: 10px;
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
      }

      &:last-child {
        transform: rotate(314deg);
        left: -1px;
        top: -6px;
      }
    }
  }
}

.rc-slider-mark {
  top: 19px!important;
}

@include media-breakpoint-up(md) {
  .navbar-expand-lg .navbar-nav .nav-link {
    &:hover {
      color: $gray-200;
    }
  }
}


.opacity-20 {
  opacity: .2;
}

.border-right-0 {
  border-right: 0!important;
}

.border-left-0 {
  border-left: 0!important;
}

.blur-background {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    background: linear-gradient(284deg,#5129c3,#6808c0,#864091);
    filter: blur(112px);
    opacity: .225;
    z-index: -1;
    border-radius: 25%;
    left:0;
    top:0;
  }
  &:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    background: linear-gradient(284deg,#864091,#6808c0,#5129c3);
    filter: blur(112px);
    opacity: .225;
    z-index: -1;
    border-radius: 25%;
    right: 0;
    top:0;
  }
}

.blur-background-2 {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(101, 108, 170, 0.3) 0, rgba(13, 17, 36, 0.3), #000000 140%);
    filter: blur(40px);
    z-index: -1;
    border-radius: 25%;
    left: 0;
    top: 0;
  }
}


.animated-wrapper {
  position: relative;
  animation: fadeIn 2s;
  @keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
  }
}

.content-gradient-border {
  height: 1px;
  width: 100%;
  background: linear-gradient(284deg,rgba(255, 0, 184, 1),rgba(0, 209, 255, 1));
}

